<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd ">

    <!-- 开启注解扫描 -->
    <context:component-scan base-package="com.tiza.process.*"/>

    <import resource="classpath*:spring-*.xml"/>

    <!-- Spring工具类 -->
    <bean class="com.diyiliu.common.util.SpringUtil"/>

    <!-- 指令解析初始化 -->
    <bean class="com.diyiliu.common.listener.CMDInitializer">
        <property name="protocols">
            <list>
                <value>com.tiza.process.protocol.m2.M2DataProcess</value>
            </list>
        </property>
    </bean>

    <!-- 初始化操作 -->
    <bean class="com.tiza.process.common.listener.M2HandlerInitializer" init-method="init"/>
</beans>