<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 指令解析 -->
    <bean id="cmdCacheProvider" class="com.diyiliu.common.cache.ram.RamCacheProvider"/>

    <!-- 车辆信息 -->
    <bean id="vehicleCacheProvider" class="com.diyiliu.common.cache.ram.RamCacheProvider"/>

    <!-- 车辆功能集信息 -->
    <bean id="canCacheProvider" class="com.diyiliu.common.cache.ram.RamCacheProvider"/>

    <!-- 车辆仓库信息 -->
    <bean id="vehicleStorehouseCacheProvider" class="com.diyiliu.common.cache.ram.RamCacheProvider"/>

    <!-- 车辆当前出入库信息 -->
    <bean id="vehicleOutInCacheProvider" class="com.diyiliu.common.cache.ram.RamCacheProvider"/>
</beans>